[submodule "agent"]
	path = agent
	url = https://github.com/mrzaxaryan/Position-Independent-Agent
[submodule "relay"]
	path = relay
	url = https://github.com/mrzaxaryan/relay
[submodule "cc"]
	path = cc
	url = https://github.com/mrzaxaryan/cc
[submodule "frontend"]
	path = frontend
	url = https://github.com/nostdlib/frontend
